<nav role="navigation">
    <ul id="nav-footer" class="nav-footer linklist" role="menubar">
        <li class="breadcrumbs">
            <span class="crumb">
                <a href="{U_INDEX}" data-navbar-reference="index">
                    <span>{L_INDEX}</span>
                </a>
            </span>
        </li>
        <!-- IF not S_IS_BOT -->
            <li class="small-icon">
                <a href="{U_DELETE_COOKIES}" data-ajax="true" data-refresh="true" role="menuitem">{L_DELETE_COOKIES}</a>
            </li>
        <!-- ENDIF -->
        <li>{S_TIMEZONE}</li>
    </ul>
</nav>